@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import 'variables';
@import 'map';
@import 'markdown';

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: $font-stack;
  font-size: 15.5px;
  line-height: 1.6;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

a,
a:active,
a:visited,
a:hover {
  color: $active;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.subtle {
    color: inherit;
  }

  &.nounderline {
    text-decoration: none !important;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  margin-top: $unit * 12;
  // font-size: 3.2rem;
  font-size: 3.5rem;
  line-height: 1.05;
  // text-transform: uppercase;
  // font-family: 'Unica One', 'Raleway', sans-serif;
  position: relative;
  color: $active;
  font-weight: 400;

  @include width(mobile) {
    font-size: 2rem;
    margin-top: $unit * 2;
    line-height: 1.05;
  }

  &.ja {
    font-size: 2.6rem;
    line-height: 1.2;

    @include width(mobile) {
      font-size: 2rem;
    }
  }
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

.sub {
  opacity: 0.6;
  font-size: 0.9rem;

  a {
    color: $text !important;
  }
}

.flag-icon {
  height: 1em;
  margin-right: $unit;
  position: relative;
  top: 2px;
}

.content {
  min-height: 100vh;
  width: 100%;
  padding: $header-offset $content-padding;
  position: relative;
  z-index: 2;
  box-shadow: $unit * -3 0 $unit * 3 rgba($text, 0.1);

  @include width(mobile) {
    padding: $content-padding-mobile;
    min-height: 0%;
  }

  &.ja {
  }

  & > *:not(.content-top-full):not(.relatedposts):not(footer):not(.footer) {
    margin-left: auto;
    margin-right: auto;
    max-width: $unit * 100;
  }

  .content-top-full {
    width: 100%;
    box-sizing: content-box;
    margin: -1 * $header-offset -1 * $content-padding;
    margin-bottom: 0;
    padding: $header-offset $content-padding;

    &.mini {
      padding-bottom: $unit * 2;
    }

    &.gray {
      background: $shade;
    }

    & + .content-top-full {
      margin-top: 0;
      margin-bottom: 0;
    }

    @include width(mobile) {
      margin: -1 * $content-padding-mobile;
      margin-bottom: 0;
      padding: $content-padding-mobile;

      &.mini {
        padding: $content-padding-mobile / 2 $content-padding-mobile;
      }
    }
  }
}

.sectionhead {
  // font-family: 'Unica One', 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  position: relative;
  display: table;
  // text-align: center;
  z-index: 2;
  // margin: 0 auto;
  // text-transform: uppercase;
  font-weight: 400;
  margin-top: $unit * 7;
  margin-bottom: $unit * 4;
  color: $active;
  // max-width: 60%;

  &:not(.mini) {
    // padding: $unit $unit * 5;
    padding: $unit 0;
    padding-right: $unit * 5;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   width: $unit * 10;
    //   height: 3px;
    //   bottom: 48%;
    //   left: 100%;
    //   z-index: 1;
    //   background: $active;
    // }
    &:after {
      content: '';
      position: absolute;
      width: $unit * 500;
      height: 1px;
      bottom: 48%;
      left: 100%;
      z-index: 1;
      background: $active;
      opacity: 0.6;
    }
  }

  &.mini {
    padding-right: 0;
    background: transparent;
    color: $text;
    margin-top: $unit * 2;
    padding-bottom: $unit * 2;
    margin-bottom: 0;
    border-bottom: 0;
    font-size: 1.3rem;
    letter-spacing: 1px;

    @include width(mobile) {
      font-size: 1.1rem;
      padding-bottom: $unit;
      margin-top: 0;
      padding-top: $unit;
      margin-bottom: 0;
    }
  }

  @include width(mobile) {
    font-size: 1.5rem;
    margin-top: $unit * 2;
    margin-bottom: $unit * 3;
    padding-bottom: 0;
  }
}

.button {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  padding: $unit * 2 $unit * 4;
  margin-right: $unit * 4;
  margin-bottom: $unit * 2;
  color: white;
  background: $text;
  transition: 0.2s;

  &.blue {
    background: $active;
  }

  &.mini {
    padding: $unit * 1 $unit * 2;
    margin: 2px;

    @include width(mobile) {
      margin: 4px;
      margin-left: 0;
      margin-top: 0;
    }
  }

  @include width(mobile) {
    padding: $unit * 1.5 $unit * 2.5;
    margin-right: $unit * 2;
    margin-bottom: $unit * 1;
  }

  &.secondary {
    color: darken($offwhite, 50%);
    box-shadow: 0 1px 3px $offwhite;
    background: rgba(white, 0.8);

    &.onwhite {
      background: $shade;
    }
  }

  &.full {
    display: block;
    width: 100%;
  }
  @include width(desktop) {
    &:hover {
      color: white;
      background: $active !important;
    }
    &.blue:hover {
      color: white;
      background: $text !important;
    }
  }

  &.invert {
    background: transparent;
    box-shadow: 0 0 0 2px rgba(white, 0.6);

    @include width(desktop) {
      &:hover {
        background: $text !important;
        box-shadow: none;
      }
    }
  }

  &.showall {
    background: rgba($offwhite, 0.25);
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

img[lazy='loaded'] {
  // animation-duration: .5s;
  // animation-fill-mode: both;
  // animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.page-enter-active {
  transition: opacity 0.4s;
}
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
