@import 'variables';

$mapnumberfontstack: 'Helvetica Neue', 'Helvetica', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
$maplabelfontweight: 400;
$mapwordsfontsize: 0.95em;
$basemarkercolor: white; //hsl(255, 0, 45);
$mapshadowcolor: $text;
$singlehighlightcolor: $activelight;

#map {
}

.mapboxgl-canvas {
  filter: brightness(0.6); //saturate(2);
}

.mapboxgl-missing-css,
.mapbox-improve-map,
.mapboxgl-ctrl-attrib,
.mapboxgl-control-container {
  display: none;
}

.polygonlabel {
  z-index: 100;
  display: inline-block;
  position: absolute;
  user-select: none;
  color: white;
  $shadow: rgba($mapshadowcolor, 0.15);
  text-shadow: 0 0 12px $shadow, 2px 0 12px $shadow,
    0 2px 12px $shadow, 0 -2px 12px $shadow, -2px 0 12px $shadow;
  font-weight: $maplabelfontweight;
  font-size: $mapwordsfontsize;
  letter-spacing: 0.8px;
  transition: opacity 0.35s, color 0.1s;

  &.off {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }

  @include width(desktop) {
    &.highlight,
    &:hover,
    &.hover {
      color: $singlehighlightcolor;
    }

    &.doublehighlight,
    &.highlight:hover,
    &.highlight.hover {
      color: $highlight;
    }
  }
}

.marker,
.cluster {
  z-index: 100;
  display: inline-block;
  position: absolute;
  font-size: 1.05em;
  pointer-events: none;
  user-select: none;

  @include width(mobile) {
    font-size: 1em;
  }

  .pin {
    pointer-events: auto;
    width: $unit * 2.25;
    height: $unit * 2.25;
    background-color: $basemarkercolor;
    mask-image: url('~assets/pin.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center center;
    margin: 0 auto;
    // transition: width .2s, height .2s, background-color .2s;
  }

  .text {
    pointer-events: auto;
    margin: 0 auto;
    position: relative;
    left: 50%;
    max-width: $unit * 25;
    line-height: 1.1;
    top: $unit * -3.8;
    text-align: center;
    transform: translateX(-50%) translateY($unit * 3.5);
    color: $basemarkercolor;
    $shadow: rgba($mapshadowcolor, 0.7);
    text-shadow: 0 0 12px $shadow, 2px 0 12px $shadow,
      0 2px 12px $shadow, 0 -2px 12px $shadow, -2px 0 12px $shadow;
    font-weight: $maplabelfontweight;
    font-size: $mapwordsfontsize;
    letter-spacing: 0.8px;
    // transition: color .2s;

    @include width(mobile) {
      top: $unit * -4;
    }
  }

  &:hover {
    cursor: pointer;
    $shadow: rgba($mapshadowcolor, 0.7);
    text-shadow: 0 0 16px $shadow, 2px 0 16px $shadow,
      0 2px 16px $shadow, 0 -2px 16px $shadow, -2px 0 16px $shadow;
  }

  &.highlight,
  &:hover {
    z-index: 101;

    .text {
      color: $singlehighlightcolor;
    }
    .pin {
      background-color: $singlehighlightcolor;
      // width: $unit * 6.5;
      // height: $unit * 6.5;
    }
  }

  &.doublehighlight,
  &.highlight:hover {
    z-index: 102;

    .text {
      color: $highlight;
    }

    .pin {
      background-color: $highlight;
    }
  }
}

.cluster {
  position: relative;
  top: $unit * -7;

  .text {
    display: none;
  }
  .pin {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $basemarkercolor;
    font-size: 1em;
    font-family: $mapnumberfontstack;
    font-weight: $maplabelfontweight;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    transform: translateX(-50%) translateY(0%);
    width: 54px;
    height: 54px;
    mask-image: none;
    background: rgba($basemarkercolor, 0.15);
    border: solid rgba($basemarkercolor, 0.8) 1px;
    border-radius: 50%;
    // mask-image: url('~assets/cluster.svg');

    span {
      $shadow: rgba($mapshadowcolor, 0.8);
      text-shadow: 0 0 16px $shadow, 2px 0 16px $shadow,
        0 2px 16px $shadow, 0 -2px 16px $shadow, -2px 0 16px $shadow;
    }
  }

  &.highlight,
  &:hover {
    .pin {
      background: rgba($singlehighlightcolor, 0.15);
      border: solid $singlehighlightcolor 2px;
      color: $singlehighlightcolor;
    }
  }

  &.doublehighlight,
  &.highlight:hover {
    .pin {
      background: rgba($highlight, 0.15);
      border: solid $highlight 3px;
      color: $highlight;
    }
  }
}
